In [5]:
import pandas as pd
df = pd.read_csv("./docs/offset_trans.csv")

In [2]:
df.head()

,Date,Description,Debit,Credit,Balance
07/06/2024,Osko Deposit 07Jun22:01 Mr Sh...,NaN,3250.0,57199.33,NaN
04/06/2024,Eftpos Credit 04Jun12:21 Beem\...,NaN,20.0,53949.33,NaN
04/06/2024,Internet Withdrawal 04Jun09:52 To 46...,4105.65,NaN,53929.33,NaN
03/06/2024,Osko Deposit 03Jun13:00 June ...,NaN,1415.0,58034.98,NaN
01/06/2024,Eftpos Debit 01Jun12:49 Beem\...,7.50,NaN,56619.98,NaN

In [ ]:
df.tail(2)